@font-face {
  font-family: ltmuseum-med-r;
  src: url(../fonts/LTMuseum-Black.ttf);
}
@font-face {
  font-family: lin-r;
  src: url(../fonts/LinuxLibertine/LinLibertine_R.ttf);
}
@font-face {
  font-family: lin-ri;
  src: url(../fonts/LinuxLibertine/LinLibertine_RI.ttf);
}

/* USER Note --- define base font size var, and color variables --- */
:root {
  /* font size for rem */
  --base-font-size: 17px;
  font-size: var(--base-font-size);
  /* color palette */
  --primary-color: #0065c4;
  --secondary-color: #003566;
  --tertiary-color: #001d3d;
  --emphasis-color: #ffd60a;
  --accent-color: #ffc300;
  --background-color: #000814;
}

/* --- Global Styles --- */
* {
  font-family: lin-r;
  color: var(--primary-color);
  /* This makes layout math easier */
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

i {
  font-family: lin-ri;
  font-style: normal;
  color: inherit;
}

p {
  font-size: var(--base-font-size);
  line-height: calc(1rem * 1.5);
}
h6 {
  font-size: 1.25rem;
  line-height: calc(1rem * 1.45);
}
h5 {
  font-size: 1.5625rem;
  line-height: calc(1rem * 1.4);
}
h4 {
  font-size: 1.95rem;
  line-height: calc(1rem * 1.3);
}
h3 {
  font-size: 2.4375rem;
  line-height: calc(1rem * 1.2);
}
h2 {
  font-size: 3.046875rem;
  line-height: calc(1rem * 1.1);
}
h1 {
  font-size: 3.80859375rem;
  line-height: calc(1rem * 1.0);
}

/* --- Main Content Container --- */
.helper-container {
  width: 100%;
  max-width: 900px;
  /* The content won't get too wide on big screens */
  text-align: center;
}

.title {
  color: var(--accent-color);
}

.subtitle {
  color: var(--primary-color);
  margin-bottom: 3rem;
}

/* --- The Option Cards --- */

.options-container {
  display: flex;
  /* This is the key! It puts the cards side-by-side */
  justify-content: center;
  /* Center the cards within the container */
  gap: 2rem;
  /* Adds a nice 2rem space between the cards */
  flex-wrap: wrap;
  /* If the screen is too small, they will stack */
}

.option-card {
  color: var(--emphasis-color);
  background-color: var(--tertiary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 2rem;

  /* Sizing */
  width: 400px;
  max-width: 100%;

  text-align: left;
}

.option-card:hover {
  border-color:var(--emphasis-color);
  cursor: pointer;
}
.option-card:active {
  background-color: var(--secondary-color);
}

.option-card h4 {
  color: var(--emphasis-color);
  border-bottom-color: var(--secondary-color);
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  padding-bottom: 1rem;
  margin-top: 0;
}

.option-card p {
  color: var(--primary-color);
  /* Lighter gray for the description text */
  line-height: 1.5;
}